## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    ${html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
    <header>
        ## TODO: fix this shit
        <a href="${abs_link('/')}" title="${blog_title}">
            <div class="thomas">
                <img src="/assets/img/thomas.gif" alt="DJ THOMAS IN DA HAUS">
                <img src="/assets/img/thomas.png" alt="${blog_title}">
            </div>
            <h1 id="blog-title">
                ${blog_title}
            </h1>
        </a>
        <ul class="nav">
            <li class="twitter"><a href="http://twitter.com/pleasantprog">@pleasantprog</a></li>
            ${html_sidebar_links()}
        </ul>
        <%block name="belowtitle">
            %if len(translations) > 1:
            <small>
                ${(messages("Also available in"))}:&nbsp;
                ${html_translations()}
            </small>
            %endif
        </%block>
    </header>
    <div class="container">
        <div class="content">
            <%block name="content"></%block>
        </div>
    </div>
    <footer>
        <small>${content_footer}</small>
        <script src="/assets/js/konami.js"></script>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script>
            var easter_egg = new Konami();
            easter_egg.code = function() { 
                $(".thomas").toggleClass("whoa");
                $("body").scrollTo(0);
            }
            easter_egg.load();

            // love you, thomas!
            // yours, @_phi + @meggykawsek
        </script>
    </footer>


    %if add_this_buttons:
    <script type="text/javascript">var addthis_config={"ui_language":"${lang}"};</script>
    % endif
    ${analytics}
</body>
