## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
<%namespace name="annotations" file="annotation_helper.tmpl"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>
    ${header.html_header()}
    <div id="container">
         <main id="content" role="main">
            <%block name="content"></%block>
         </main>
         ${footer.html_footer()}
    </div>
    ${body_end}
    ${template_hooks['body_end']()}
    ${base.late_load_js()}
    <script src="/assets/js/konami.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script>
        var easter_egg = new Konami();
        easter_egg.code = function() {
            $(".thomas").toggleClass("whoa");
            $("body").scrollTop(0);
        }
        easter_egg.load();

        // love you, thomas!
        // yours, @_phi + @meggykawsek
    </script>
</body>
</html>
