/* because standards */
@viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

body {
	font-family: "Museo Sans", "museo-sans", sans-serif;
	font-size: 100%;
	color: #534741;
	line-height: 1.25;
	background: #F2EDE6;
	margin: 0;
}
/*
@media (max-width: 600px) {
	body {
		font-size: 100%;
	}
}
*/
/* force android webkit to use relative header size */
body h1 {
	font-family: "Museo", "museo", sans-serif;
	font-weight: 500;
}

p {
	hyphens: auto;
	-moz-hyphens: auto;
	word-wrap: break-word;
}

hr {
	border-color: #D3D3D3;
}

a {
	color: #6495ED;
	text-decoration: none;
}


code, pre {
	font-family: Monaco, Menlo, Consolas, monospace;
	font-size: 75%;
	hyphens: none;
	-moz-hyphens: none;
}

code {
	background: #FFFFE0;
	padding: 0px 0.2em;
	border-radius: 0.25em;
}

.code {
	padding: 0em 0.5em;
	border-radius: 0.25em;
}

.code pre {
	padding: 0.25em 0em;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0px 0.5em;
}

thead tr {
	font-weight: bold;
	border-bottom: solid 1px #808080;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

header {
	background: #F0E5D8;
	text-align: center;
	padding: 20px 0;
}

/* TODO: Fix this shit. */

header h1 {
	font-size: 1.75em;
	margin: 0.125em auto 0 auto;
	text-transform: lowercase;
	font-weight: 300;
}

header img {
	width: 128px;
	height: 128px;
	border: 2px solid #534741;
	border-radius: 50%;
}

header a {
	font-family: "Museo";
	color: #534741;
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: all 0.4s;
}

header a:hover {
	text-decoration: none;
	border-bottom: 1px solid black;
}

.nav {
	padding: 0px;
	margin: 6px 0 0 0px;
}

.nav li {
	list-style: none;
	margin: 0.5em 0.2em;
	display: inline;
	text-transform: lowercase;
	font-weight: 300;
}

.nav .twitter {
	font-size: 1.25em;
	font-weight: 100;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.content {
	padding: 0 12px;
}

footer {
	text-align: center;
}

.postbox {
	margin-top: 2em;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.8;
}

.postbox img {
	max-width: 100%;
}

.postbox .title h1 {
	font-size: 1.9em;
	line-height: 1.4;
}

.postbox .title h1 a {
	color: #534741;
	border-bottom: 0px solid transparent;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
			transition: all 0.2s;
	padding-bottom: 12px;
}

.postbox .title h1 a:hover {
	border-bottom: 2px solid #534741;
	padding-bottom: 0;
}
.postbox .title h1 small {
	float: right;
	font-size: 50%;
	font-weight: normal;
	line-height: 3;
}

.postbox .title small {
	opacity: 0.75;
}

.pager {
	list-style: none;
	text-align: center;
	padding: 0px;
	font-size: 1.5em;
}

.pager li > a {
	display: inline-block;
	color: #534741;
}

.pager .previous a {
	float: left;
}

.pager .next a {
	float: right;
}

@media (max-width: 767px) {

	header {
		font-size: 85%;
	}

	header img {
		width: 100px;
		height: 100px;
		border: 2px solid #534741;
		border-radius: 50%;
	}

	header > h1 {
		display: block;
		float: none;
		line-height: 1.1;
	}

	.content {
		-webkit-text-size-adjust: none;
		font-size: 80%;
	}

	.title {
		line-height: 1;
	}

	.postbox {
		line-height: 1.5;
		font-weight: 300;
	}

	.postbox .title h1 small {
		float: none;
		line-height: 1;
		display: block;
		font-size: 70%;
		margin-top: 6px;
	}

	.postbox .title h1 {
		font-size: 1.4em;
	}

}

header {
	-webkit-perspective: 800;
	   -moz-perspective: 800;
		-ms-perspective: 800;
			perspective: 800;
}

.thomas {
	position: relative;
	display: inline-block;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
	-webkit-transition: all 0.4s;
	   -moz-transition: all 0.4s;
		-ms-transition: all 0.4s;
			transition: all 0.4s;
}

.thomas.whoa {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

.thomas img:nth-child(2) {
	position: relative;
}

.thomas img:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateY(180deg) translateZ(0.1px);
	   -moz-transform: rotateY(180deg) translateZ(0.1px);
		-ms-transform: rotateY(180deg) translateZ(0.1px);
			transform: rotateY(180deg) translateZ(0.1px);
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
}
