
body {
	font-family: Garamond, Georgia, serif;
	font-size: 24px;
	line-height: 34px;
}

p {
	text-align: justify;
}

hr {
	border-color: #D3D3D3;
	border-width: 1px 0px;
}

a {
	color: #6495ED;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code, pre {
	font-family: Monaco, Menlo, Consolas, monospace;
}

code {
	background: #FFFFE0;
	font-size: 18px;
	padding: 0px 4px;
	border-radius: 4px;
}

.code {
	padding: 2px 10px;
	border-radius: 5px;
}

.code pre {
	font-size: 16px;
	line-height: 24px;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0px 10px;
}

thead tr {
	font-weight: bold;
	border-bottom: solid 1px #808080;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.header > h1 {
	display: inline;
}

.header a {
	color: black;
}

.nav {
	display: inline;
	padding: 0px;
}

.nav li {
	list-style: none;
	margin: 0px 8px;
	float: right;
	font-size: 20px;
}

.container {
	max-width: 780px;
	margin: 0 auto;
}

.footer {
	text-align: center;
}

.postbox {
	margin-top: 50px;
}

.postbox img {
	max-width: 100%;
}

.postbox .title h1 a {
	color: black;
}

.postbox .title h1 small {
	float: right;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #808080;
}

.pager {
	list-style: none;
	margin: 20px 0px;
	text-align: center;
	line-height: 20px;
	padding: 0px;
}

.pager li > a {
	display: inline-block;
}

.pager .previous a {
	float: left;
}

.pager .next a {
	float: right;
}
