/* because standards */
@viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

body {
	font-family: Garamond, Georgia, serif;
	font-size: 150%;
	line-height: 125%;
}

@media (max-width: 600px) {
	body {
		font-size: 100%;
	}
}

/* force android webkit to use relative header size */
body h1 {
	font-size: 150%;
}

p {
	hyphens: auto;
	-moz-hyphens: auto;
	word-wrap: break-word;
}

hr {
	border-color: #D3D3D3;
}

a {
	color: #6495ED;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code, pre {
	font-family: Monaco, Menlo, Consolas, monospace;
	font-size: 75%;
}

code {
	background: #FFFFE0;
	padding: 0px 0.2em;
	border-radius: 0.25em;
}

.code {
	padding: 0em 0.5em;
	border-radius: 0.25em;
}

.code pre {
	padding: 0.25em 0em;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0px 0.5em;
}

thead tr {
	font-weight: bold;
	border-bottom: solid 1px #808080;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.header {
	margin: 0.5em 0px 2em 0px;
}

.header > h1 {
	float: left;
	display: inline-block;
	margin: 0px;
}

.header a {
	color: black;
}

.nav {
	float: right;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.nav li {
	list-style: none;
	margin: 0.5em 0.2em;
	display: inline;
	font-size: 80%;
}

@media (max-width: 800px) {
	.header {
		margin: 1em 0px;
	}

	.header > h1 {
		display: block;
		float: none;
	}

	.nav {
		display: block;
		float: none;
	}

	.nav li {
		display: block;
		font-size: 100%;
	}
}

.container {
	max-width: 780px;
	margin: 0 auto;
}

.footer {
	text-align: center;
}

.postbox {
	margin-top: 2em;
}

.postbox img {
	max-width: 100%;
}

.postbox .title h1 a {
	color: black;
}

.postbox .title h1 small {
	float: right;
	font-size: 50%;
	font-weight: normal;
	color: #808080;
}

.pager {
	list-style: none;
	text-align: center;
	padding: 0px;
}

.pager li > a {
	display: inline-block;
}

.pager .previous a {
	float: left;
}

.pager .next a {
	float: right;
}
